body {
  font-family: Arial, sans-serif;
}

table {
  border-collapse: collapse;
  margin: 20px auto;
}

th, td {
  border: 1px solid black;
  padding: 6px 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
.add{
  border: 1px black solid;
  height: 75px;
  width: auto;
}
label{
  display: inline-block;
}
fieldset{
  margin: 10px 25%;
}
.butt{
  margin: 0;
}
button{
  border-radius: 50px;
}